h1{
    color: green;
}

p{
    font-style:italic;
}

.titulo{
    color: red;
    text-align: center;
    font-size: 24px;
}

.caja{
    background-color:yellow;
    border: 2px solid black;
    padding: 10px;
    margin: 15px;
}

#especial {
    color:blue;
    font-weight: bold;
    border: 3px solid red;
}

.boton-independiente{
    background-color: green;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}
.estilo1{
    border: 2px solid black;
    background-color: grey;
}

.estilo2{
    border-radius: 15px;
}

.estilo3{
    box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
}